.hbtn {
    background-color: #EA4C89;
    border-radius: 32px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.hbtn-corner {
  position: absolute;
  top: 15px;
  left: 15px;
}

.hbtn:hover,
.hbtn:focus {
  background-color: #F082AC;
}

.hbtn:visited {
    background: #A2A2A2;
}